

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}



.credits-bar {
  
  margin-top: auto; 
  height: 200px;
  margin-bottom: 0;
  
  overflow: hidden;
  width: 100vw;
  
  
  
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;


  
  background-color: #000000;
  

  background-image: 
    linear-gradient(rgb(58, 57, 57) 1px, transparent 1px),
    linear-gradient(90deg, rgb(58, 57, 57) 1px, transparent 1px);
    

  background-size: 30px 30px;
}



.buttons .bottom_button{
font-size: 3rem;
padding: 1em 2em; 


}
.buttons {
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}

.buttons .bottom_button {
  font-size: 3rem;
  font-weight: 500;
  padding: 0.6em 1.4em !important; 
  border-radius: 12px !important;
  border: 1px solid transparent !important; 
  box-shadow: 0 4px 6px black;
  transition: all 0.2s ease-in-out !important;
}

.buttons .bottom_button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px black;
}

